/*Custom properties (Propiedades personalizadas), esto sirve en casos de que quiera hacer un cambio global y no tener que estar buscando los lugares donde estan*/
/*Paleta de color*/
:root {
  /*Variables (--)*/
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}

.titulo {
  /*Agregar una fuente al estilo de letra*/
  font-family: "Krub", sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 3rem;
  color: #000000;
  text-align: center;
}

.titulo span {
  font-size: 2rem;
}

.navegacion-principal {
  background-color: var(--secundario);
  font-family: "Krub", sans-serif;
  font-weight: 600;
  color: #000000;
  font-style: normal;
  display: flex;
  /*
  justify-content es para filas
  align-items es para columnas (flex-direction)
  el flexbox no se utiliza para animacion
  BEM bloques - elementos - modificadores
  .card{}
  .card__titule{}
  .card__imagen{}
  .card__boton{}
  .card__boton--activo{}
  utility-firts
  Herramientas para css
  tailwind y bootstrap
  
  */

  justify-content: space-between;
}

.navegacion-principal a {
  font-family: "Krub", sans-serif;
  font-weight: bold; /*Como poner negritas el font*/
  padding: 1rem;
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
  color: var(--blanco);
}
.navegacion-principal a:hover {
  color: var(--oscuro);
  background-color: var(--primario);
}

.contenedor {
  width: 120rem;
  /* 1ra manera mas detallada
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;*/
  /*margin: 0 auto 0 auto;*/ /*Mas simplificado*/
  margin: 0 auto; /*Primer valor le pertenece al top-bottom y el segundo al rigth-left*/
}

/*
Display: Block es vertical  
Display: inline es horizontal "nav"
Display: flex 
*/
.nav-bg {
  background-color: var(--secundario);
}
