/*Custom properties (Propiedades personalizadas), esto sirve en casos de que quiera hacer un cambio global y no tener que estar buscando los lugares donde estan*/
/*Paleta de color*/
:root {
  /*Variables (--)*/
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}

.titulo {
  /*Agregar una fuente al estilo de letra*/
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 3rem;
  color: #000000;
  text-align: center;
}

.titulo span {
  font-size: 2rem;
}

.navegacion-principal {
  background-color: var(--secundario);
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-style: normal;
}
